@import "~/styles/variables";

.main {
  max-width: 1800px;
  // background-color: $body-bg;
}

.content {
  padding-top: $grid-gutter-width / 2;
  // padding-left: $grid-gutter-width;
  // padding-right: $grid-gutter-width;
  padding-bottom: $grid-gutter-width * 2;
  background-color: #fff;
}

.sidebar {
  position: relative;
  padding-top: $grid-gutter-width / 2;

  img {
    width: 100%;
    height: 100%;
  }
}

.widget {
  margin-bottom: $grid-gutter-width / 2;
}
