body {
  background-color: #f6f6f6;
  margin:0;
  padding:0;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a, a:hover {
  color: var(--main-color);
}

h3, h4 {
  margin-top: 2rem;
}

.main {
  flex: 1 0 auto;
}

